<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>Hello</display-name>
    <servlet-name>Hello</servlet-name>
    <servlet-class>com.controller.Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <display-name>Adv</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LifeCycleMethod</display-name>
    <servlet-name>LifeCycleMethod</servlet-name>
    <servlet-class>com.controller.LifeCycleMethod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycleMethod</servlet-name>
    <url-pattern>/lm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormFilling</display-name>
    <servlet-name>FormFilling</servlet-name>
    <servlet-class>com.controller.FormFilling</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormFilling</servlet-name>
    <url-pattern>/ff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductList</display-name>
    <servlet-name>ProductList</servlet-name>
    <servlet-class>com.controller.ProductList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductList</servlet-name>
    <url-pattern>/productlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Backup</display-name>
    <servlet-name>Backup</servlet-name>
    <servlet-class>com.controller.Backup</servlet-class>
    <init-param>
      <param-name>filepath</param-name>
      <param-value>D:\\AdvanceJava</param-value>
    </init-param>
    <init-param>
      <param-name>filepath1</param-name>
      <param-value>D:\\AdvanceJava</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Backup</servlet-name>
    <url-pattern>/backup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Backup2</display-name>
    <servlet-name>Backup2</servlet-name>
    <servlet-class>com.controller.Backup2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Backup2</servlet-name>
    <url-pattern>/backup2</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>driver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>Task</display-name>
    <servlet-name>Task</servlet-name>
    <servlet-class>com.controller.Task</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Task</servlet-name>
    <url-pattern>/task</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Task2</display-name>
    <servlet-name>Task2</servlet-name>
    <servlet-class>com.controller.Task2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Task2</servlet-name>
    <url-pattern>/task2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeController</display-name>
    <servlet-name>EmployeeController</servlet-name>
    <servlet-class>com.controller.EmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeController</servlet-name>
    <url-pattern>/employeecontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentController</display-name>
    <servlet-name>StudentController</servlet-name>
    <servlet-class>com.controller.StudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentController</servlet-name>
    <url-pattern>/studentcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionDemo1</display-name>
    <servlet-name>SessionDemo1</servlet-name>
    <servlet-class>com.controller.session.SessionDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionDemo1</servlet-name>
    <url-pattern>/sessiondemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionDemo2</display-name>
    <servlet-name>SessionDemo2</servlet-name>
    <servlet-class>com.controller.session.SessionDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionDemo2</servlet-name>
    <url-pattern>/sessiondemo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionDemo3</display-name>
    <servlet-name>SessionDemo3</servlet-name>
    <servlet-class>com.controller.session.SessionDemo3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionDemo3</servlet-name>
    <url-pattern>/SessionDemo3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionDemo30</display-name>
    <servlet-name>SessionDemo30</servlet-name>
    <servlet-class>com.controller.session.SessionDemo3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionDemo30</servlet-name>
    <url-pattern>/SessionDemo30</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Products</display-name>
    <servlet-name>Products</servlet-name>
    <servlet-class>com.controller.Products</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Products</servlet-name>
    <url-pattern>/Products</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Browserprint</display-name>
    <servlet-name>Browserprint</servlet-name>
    <servlet-class>com.controller.Browserprint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Browserprint</servlet-name>
    <url-pattern>/bp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Session3</display-name>
    <servlet-name>Session3</servlet-name>
    <servlet-class>com.controller.session.Session3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session3</servlet-name>
    <url-pattern>/Session3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Session4</display-name>
    <servlet-name>Session4</servlet-name>
    <servlet-class>com.controller.session.Session4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session4</servlet-name>
    <url-pattern>/Session4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.controller.session.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login1</display-name>
    <servlet-name>Login1</servlet-name>
    <servlet-class>com.controller.session.Login1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login1</servlet-name>
    <url-pattern>/login1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.controller.session.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.controller.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/firstservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondServlet</display-name>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>com.controller.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/secondservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginWithData</display-name>
    <servlet-name>LoginWithData</servlet-name>
    <servlet-class>com.controller.LoginWithData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginWithData</servlet-name>
    <url-pattern>/loginwithdata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet1</display-name>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>com.controller.Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet2</display-name>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>com.controller.Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Success</display-name>
    <servlet-name>Success</servlet-name>
    <servlet-class>com.controller.Success</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Success</servlet-name>
    <url-pattern>/success</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginArray</display-name>
    <servlet-name>LoginArray</servlet-name>
    <servlet-class>com.controller.LoginArray</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginArray</servlet-name>
    <url-pattern>/loginarray</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginForward</display-name>
    <servlet-name>LoginForward</servlet-name>
    <servlet-class>com.controller.LoginForward</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginForward</servlet-name>
    <url-pattern>/lf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employee</display-name>
    <servlet-name>Employee</servlet-name>
    <servlet-class>com.controller.Employee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employee</servlet-name>
    <url-pattern>/employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegistrationController</display-name>
    <servlet-name>UserRegistrationController</servlet-name>
    <servlet-class>com.controller.UserRegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistrationController</servlet-name>
    <url-pattern>/userregistrationcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserBeanController</display-name>
    <servlet-name>UserBeanController</servlet-name>
    <servlet-class>com.controller.UserBeanController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserBeanController</servlet-name>
    <url-pattern>/userbeancontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserReg</display-name>
    <servlet-name>UserReg</servlet-name>
    <servlet-class>com.controller.UserReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserReg</servlet-name>
    <url-pattern>/userreg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validation</display-name>
    <servlet-name>Validation</servlet-name>
    <servlet-class>com.controller.Validation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validation</servlet-name>
    <url-pattern>/validation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookController</display-name>
    <servlet-name>BookController</servlet-name>
    <servlet-class>com.controller.BookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookController</servlet-name>
    <url-pattern>/bookcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookDeleteController</display-name>
    <servlet-name>BookDeleteController</servlet-name>
    <servlet-class>com.controller.BookDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDeleteController</servlet-name>
    <url-pattern>/bookdeletecontroller</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.listener.SessionListenerTask</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>LoginControllerTaskListener</display-name>
    <servlet-name>LoginControllerTaskListener</servlet-name>
    <servlet-class>com.controller.LoginControllerTaskListener</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginControllerTaskListener</servlet-name>
    <url-pattern>/lctl</url-pattern>
  </servlet-mapping>
</web-app>